<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>art gallery</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  </head>
    <script src="gallery.js"></script>
  </head>
  <body>
    <form id='art-submission'>
      <input name='artist' placeholder="artist name">
      <input name='title' placeholder="title">
      <input name='description' placeholder="description">
      <input type='submit'>
    </form>
  </body>
</html>
